{
  'extends': 'vue',
  'plugins': [
        'import'
  ],
  'rules': { 
    'semi': [2, 'never'],
    'array-bracket-spacing': [ 2, 'always' ],
    'no-underscore-dangle': [0],
    'class-methods-use-this': [2, { 
      'exceptMethods': [
        'getComputedStyle'
      ],
    }]
  },
  "globals": {
    "document": true,
    "foo": true,
    "googletag": true,
    "window": true,
    "FileReader": true,
    "XMLHttpRequest": true,
  }
}